@charset "utf-8";

/* CSS Document */

html body ul li div p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Microsoft Yahei, "宋体", Arial, sans-serif;
    line-height: 24px;
    text-indent: 20px;
}

a:link {
    color: #000;
    text-decoration: none;
}


/* 未访问的链接 */

a:visited {
    color: #ccc;
}


/* 已访问的链接 */

a:hover {
    color: red;
    text-decoration: underline;
}


/* 鼠标划过链接 */

a:active {
    color: #303030;
}


/* 已选中的链接 */

#box {
    height: auto;
    font-size: 12px;
    color: #000;
    width: 990px;
    margin-right: auto;
    margin-left: auto;
}

#tou {
    height: 70px;
    width: 990px;
    background-image: url(../images/tou.jpg);
}

#swsy {
    height: 30px;
    width: 980px;
    text-align: right;
    line-height: 30px;
}

#swsy a {
    color: #000;
    text-decoration: none;
}

#daohang {
    height: 40px;
    line-height: 40px;
    width: 990px;
    margin-top: 3px;
    background-image: url(../images/dhbj.jpg);
    background-repeat: repeat-x;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

#daohang ul {
    margin: 0px;
    padding: 0px;
    margin-left: 35px;
}

#daohang ul li {
    float: left;
    margin-left: 40px;
    list-style-type: none;
    display: inline;
}

#daohang a {
    color: #FFF;
    text-decoration: none;
    display: block;
    width: 80px;
    height: 35px;
    text-align: center;
}

#daohang a:hover {
    background-image: url(../images/hoverbj.jpg);
    background-repeat: no-repeat;
    height: 35px;
    width: 80px;
}

#flash {
    height: 200px;
    width: 990px;
    margin-top: 3px;
}

#content {
    height: 525px;
    width: 990px;
    margin-top: 5px;
}

#content-left {
    height: 525px;
    width: 280px;
    float: left;
}

#content-middle {
    width: 435px;
    height: 525px;
    float: left;
}

#dynamics {
    width: 435px;
    height: 289px;
    font-size: 12px;
    line-height: 24px;
    overflow: hidden;
    padding:10px;
}
#dynamics table{
    margin: 0;
    padding: 0;
    width:100%;
}
/*#dynamics img {
    width: 200px;
    height: 140px;
    margin-right: 5px;
}*/

#middle-bottom {
    height: 200px;
    width: 435px;
    font-size: 12px;
    line-height: 24px;
    background-image: url(../images/middle-bottom.jpg);
    overflow: hidden;
}

#content-right {
    height: 525px;
    width: 258px;
    float: left;
    margin-left: 7px;
}

#content-left-title {
    height: 35px;
    line-height: 35px;
    width: 280px;
    background-image: url(../images/comProfire-280.jpg);
}


/*公司简介*/

#profile {
    height: 175px;
    width: 280px;
    background-image: url(../images/ggbj.jpg);
}

#profiletxt {
    width: 250px;
    height: 150px;
    margin-left: 17px;
    text-indent: 20px;
    line-height: 24px;
    margin-top: 5px;
}

#lianxi-title {
    height: 35px;
    width: 280px;
    background-image: url(../images/lianxi.jpg);
}

#lianxitxt {
    height: 265px;
    width: 280px;
    background-image: url(../images/lianxime.jpg);
    background-repeat: no-repeat;
}

#lianxifangshi {
    height: 240px;
    width: 220px;
    margin-left: 20px;
    margin-top: 10px;
    text-indent: 20px;
    line-height: 24px;
}

#gsjj-title {
    height: 35px;
    width: 435px;
    background-image: url(../images/industry-435.jpg);
}

#gsry-title {
    height: 35px;
    width: 258px;
    background-image: url(../images/gsry.jpg);
}

#gsry {
    width: 253px;
    border: #CCC solid 1px;
    height: 140px;
    margin-left: 2px;
    /*  background-image: url(../images/honor1.jpg);*/
}

#gsry img {
    width: 100%;
    height: 100%;
}

#mxzs-title {
    height: 35px;
    width: 258px;
    background-image: url(../images/mxzs.jpg);
}

#fangan1 {
    height: 70px;
    width: 210px;
    margin-top: 7px;
    margin-left: 30px;
}

#bottom {
    height: 165px;
    width: 990px;
}

#bottom-title {
    height: 25px;
    width: 980px;
    background-image: url(../images/BOTTOM.jpg);
    margin-top: 5px;
}

#pic {
    width: 970px;
    height: 135px;
    margin-left: 15px;
    margin-top: 5px;
}

#banquan {
    width: 970px;
    height: 100px;
    margin-left: 10px;
    text-align: center;
    line-height: 24px;
    margin-top: 5px;
    border-top: #999 solid 8px;
}

#lm-right {
    height: 525px;
    width: 700px;
    float: left;
    margin-left: 10px;
}

#banquan p {
    line-height: 24px;
    margin: 0px;
    padding: 0px;
}

#banquan a {
    color: #000;
    text-decoration: none;
}

.xcimg {
    width: 190px;
    height: 130px;
    border: 1px #666 solid;
    padding: 1px;
    margin-right: 5px;
}

#wenzijj {
    width: 210px;
    height: 180px;
    margin-left: 210px;
    font-size: 12px;
    line-height: 24px;
    text-indent: 25px;
}

#test-right {
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 24px;
    text-indent: 25px;
}

#test-right>table {
    width: 100%;
    height: 100%;
    border: 0px solid #ccc;
    text-align: center;
}


/*图片弹出层*/

.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=88);
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 55%;
    padding: 10px;
    border: 10px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    text-align: right;
}

