
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{Stl.SiteName}</title>
  <meta name="keywords" content="{stl:value type='META_KEYWORDS'}" />
  <meta name="description" content="{stl:value type='META_DESCRIPTION'}" />
  <link href="{Stl.SiteUrl}/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body><stl:include file="/include/head.html"></stl:include> 
  <div class="mcon">
    <stl:include file="/include/AccountInfo.html"></stl:include> 
    
    
    <div class="mcR"> 
      <div class="mcr_t1">详细资料</div>            
      <ul id="ulUserProperty"></ul>
      <div class="mcr_btnBox"><button type="button" id="btnSaveUserDetailInfo" class="pubBtn"><span>保存修改</span></button></div>
    </div>
    <div class="clear"></div>
  </div> 
  <stl:include file="/include/footer.html"></stl:include>    
  
</body>
</html>
<script src="{Stl.SiteUrl}/js/lib.js"></script>  
<stl:include file="/include/tipsAlert.html"></stl:include>   
<script src="{Stl.SiteUrl}/js/app.js" id="controllerName" data-controller-name="userDetail" ></script>
