<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{Channel.Title}-{Stl.SiteName}</title>
    <link rel="shortcut icon" href="{Stl.SiteUtl}/images/ico.ico" type="image/x-icon" />
    <link href="{Stl.SiteUrl}/css/common.css" rel="stylesheet">
    <script type="text/javascript" src="{Stl.SiteUrl}/js/autowidth.js"></script>
    <style>
        .gytf3 .part2 li {
            width: 300px;
        }
    </style>
</head>
<body>
    <!--head-->
    <stl:include file="@/include/header.html"></stl:include>
    <!--head-->
    <div id="main" class="zy gytf gytf3">
        <stl:include file="@/include/logo.html"></stl:include>
        <div class="banner">
            <img src="{Channel.ImageUrl}" width="1200" height="370">
            <div class="text">
                <h2>{Channel.Title}</h2>
                <p>{Channel.Content}</p>
            </div>
        </div>
        <div id="content">
            <!--left-->
            ﻿<div class="menuLeft">
                <stl:channels toplevel="1">
                    <stl:if testtype="UpChannelOrSelf">
                        <stl:successtemplate>
                            <stl:a class="on"></stl:a>
                        </stl:successtemplate>
                        <stl:failuretemplate>
                            <stl:a></stl:a>
                        </stl:failuretemplate>
                    </stl:if>
                </stl:channels>
            </div>
            <!--left-->
            <!--right-->
            <div class="conRight">
                <h2>{Channel.Title}</h2>
                <stl:contents isrecommend="true" isimage="true">
                    <div class="part1">
                        <stl:a><img class="fl" src="{Content.ImageUrl}" width="320" height="240"></stl:a>
                        <h3><stl:a><stl:content type="Title" wordnum="10" ellipsis=""></stl:content></stl:a></h3>
                        <p class="fc_999"><stl:content type="SubTitle" wordnum="20" ellipsis=""></stl:content></p>
                        <p><stl:content type="Summary" wordnum="100" ellipsis="..."></stl:content></p>
                        <div class="clear"></div>
                    </div>
                </stl:contents>
                <div class="part2">
                    <ul class="clearfix">
                        <stl:contents isrecommend="false" isimage="true">
                            <li>
                                <p class="pic"><stl:a><img src="{Content.ImageUrl}" width="320" height="240"></stl:a></p>
                                <h3><stl:a><stl:content type="Title" wordnum="10" ellipsis=""></stl:content></stl:a></h3>
                                <p class="fc_999 mb20"><stl:content type="SubTitle" wordnum="20" ellipsis=""></stl:content></p>
                                <p><stl:content type="Summary" wordnum="100"></stl:content></p>
                            </li>
                        </stl:contents>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--footer-->
    <stl:include file="@/include/footer.html"></stl:include>
    <!--footer-->
    <script type="text/javascript" src="{Stl.SiteUrl}/js/xh_roll.js"></script>
    <script>
        $(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                wrap: 'circular',
                auto: 5
            });
        })
    </script>
</body>
</html>
