
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>媒体预约-{stl.SiteName}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script type="text/javascript" src="{Stl.SiteUrl}/js/jquery.min.js"></script>
    <link href="{Stl.SiteUrl}/css/common.css" rel="stylesheet">
    <script type="text/javascript" src="{Stl.SiteUrl}/js/autowidth.js"></script>
    <script language="Javascript" src="{Stl.SiteUrl}/js/WdatePicker/WdatePicker.js" defer="defer"></script>
</head>
<body>
    <!--head-->
    <stl:include file="@/include/header.html"></stl:include>
    <!--head-->
    <div id="main" class="zy gytf mtyy">
        <stl:include file="@/include/logo.html"></stl:include>
        <div id="content" class="zycontent1">
            <h2>媒体预约<span class="s_tit">新闻会客室</span></h2>
            <div class="conL2">
                <stl:input inputname="媒体预约"></stl:input>
            </div>
            <div class="conR2">
                <div class="zbzg">
                    <h3>总部[中国]</h3>
                    <div class="part1 line1">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th>地址：</th>
                                <td>中国北京海淀区苏州街长远天地大厦</td>
                            </tr>
                            <tr>
                                <th>邮编：</th>
                                <td>100083</td>
                            </tr>
                            <tr>
                                <th>电话：</th>
                                <td>86-10-82323456</td>
                            </tr>
                            <tr>
                                <th>传真：</th>
                                <td>86-10-82323456</td>
                            </tr>
                        </table>
                    </div>
                    <div class="part2">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th>投资者热线：</th>
                                <td>86-10-82323456</td>
                            </tr>
                            <tr>
                                <th>投资者信箱：</th>
                                <td>111111@qq.com</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <stl:a channelname="联系我们">
                            <img src="{Stl.SiteUrl}/images/mtyy2.jpg" width="215" height="51" />
                        </stl:a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--footer-->
    <stl:include file="@/include/footer.html"></stl:include>
    <!--footer-->
</body>
</html>
