<stl:include file="@/include/lx-header.html"></stl:include>
<link href="../css/lianxi.css" rel="stylesheet" type="text/css" />
<div id="content">
<div id="content-left">
<div id="gsry-title"></div>
<div id="gsry"></div>
<div id="lianxi-title">
</div>
<div id="lianxitxt">
<div id="lianxifangshi">
<br/>
浙江凯特化工有限公司<br/>
电话：0571-87831773 <br/>
传真：0571-87831773<br/>
总经理热线：18703178909<br/>
QQ： 589793276 <br/>
E-mail:model_sjz@126.com<br/>
网址：htt://www.moju.com<br/>
地址：石家庄新开发区
</div>
</div>
</div><!--content-left-->
<div id="dqwz">联系我们
</div>
<div id="lm-right">
<div id="xinxi">
浙江凯特化工有限公司<br/>
电话：0571-87831773 <br/>
传真：0571-87831773<br/>
总经理热线：18703178909<br/>
QQ： 589793276 <br/>
E-mail:model_sjz@126.com<br/>
网址：htt://www.moju.com<br/>
地址：石家庄新开发区
</div>
</div>

</div>
<stl:include file="@/include/bottom.html"></stl:include>
