<stl:include file="@/include/gywm-header.html"></stl:include>
<link href="../css/lanmu.css" rel="stylesheet" type="text/css" />

<div id="content">
<div id="content-left">
<div id="gsry-title"></div>
<div id="gsry"></div>
<div id="lianxi-title">
</div>
<div id="lianxitxt">
<div id="lianxifangshi">
<br/>
浙江凯特化工有限公司<br/>
电话：0571-87831773 <br/>
传真：0571-87831773<br/>
总经理热线：18703178909<br/>
QQ： 589793276 <br/>
E-mail:model_sjz@126.com<br/>
网址：htt://www.moju.com<br/>
地址：石家庄新开发区
</div>
</div>
</div><!--content-left-->
<div id="dqwz">关于我们
</div>
<div id="lm-right">
<p style="text-indent:25px;">
浙江凯特化工有限公司作为国内发展最快的专业模型公司，以国家一级注册建筑师、工艺美术师为骨干，模型主创人员为资深模型专家，有着千余项大中型模型项目的实际操作经验，同时拥有一批具有高度敬业模型技师。公司现拥有上千平米的制作车间和近百名专业技术人员。自成立之日起，就遵循“诚信、专业、创新、完美”的经营宗旨，树立起一整套科学、严谨的现代化管理运行机制。中凯坚信知识的力量, 在创业至今的前进过程中一直得到中国建筑北京设计研究院、中国电子工程设计院、华优建筑设计院等建筑设计群的强大专业建筑技术支持。公司引进国际最先进激光电脑雕刻系统、模型制作工艺、高新材料，并结合现代建筑美学和营销美学，配以独特的声、光、水、电等新颖技术，根据具体项目实际所需选用。通过电脑编码合成和模型技师的精心打造，创造出一个个美仑美奂、引人入胜、极具震撼力的微缩景观。</P>

  <p style="text-indent:25px;">浙江凯特化工有限公司致力于房地产模型，建筑设计规划模型，工业模型，机械电动模型，展馆模型等领域的专业模型制作。多年来一直秉承 “业精于勤”的古训，兢兢业业，勤勤恳恳；多年来一直坚持这样一种理念，而有幸成为发展最为迅速的模型专业制作公司，在未来不断发展的各个领域，我们将为广大客户提供更经济、高效、优质的服务。</p>
</div>

</div>
<stl:include file="@/include/bottom.html"></stl:include>