<stl:include file="@/include/ry-header.html"></stl:include>
<link href="../css/ry.css" rel="stylesheet" type="text/css" />

<div id="content">
<div id="content-left">
<div id="gsry-title"></div>
<div id="gsry"></div>
<div id="lianxi-title">
</div>
<div id="lianxitxt">
<div id="lianxifangshi">
<br/>
石家庄精铸模型有限公司<br/>
电话：0311-84319828 <br/>
传真：0311-84319828<br/>
总经理热线：18703178909<br/>
QQ： 589793276 <br/>
E-mail:model_sjz@126.com<br/>
网址：htt://www.moju.com<br/>
地址：石家庄新开发区
</div>
</div>
</div><!--content-left-->
<div id="dqwz">公司荣誉</div>
<div id="lm-right">
<div id="zhanshi1"><img src="{Stl.SiteUrl}/images/ry1.jpg" /></div>
<div id="zhanshi1"><img src="{Stl.SiteUrl}/images/rongyu.jpg" /></div>
</div>
</div>
<stl:include file="@/include/bottom.html"></stl:include>