<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{Channel.Title}-{Stl.SiteName}</title>
<link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/css/base.css" />
<link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/css/style.css" />
<link rel="shortcut icon" href="{Stl.SiteUtl}/images/ico.ico" type="image/x-icon" /> 
<link href="{Stl.SiteUrl}/css/lanrenzhijia.css" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.js"></script>
<script src="{Stl.SiteUrl}/js/jquery-latest.min.js" type="text/javascript"></script>
<script src="{Stl.SiteUrl}/js/lanrenzhijia.js" type="text/javascript"></script> 
<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-juren-slidepattern.js"></script>
<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="{Stl.SiteUrl}/js/base.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(this).dwseeTopBottomMenu();
   $("#dstbm-top").css("background-image","url(/PE15001/images/up_arrow.png)");
   $("#dstbm-menu").css("background-image","url(/PE15001/images/menu_icon.png)");
   $("#dstbm-bottom").css("background-image","url(/PE15001/images/down_arrow.png)");  
})
</script>
  <style>
    .subnav .navul li a{width:70px;}
    .subnav .navul li.current a{width:65px;}
  </style>
</head>

<body onmousewheel="top.document.documentElement.scrollTop-=event.wheelDelta">
<stl:include file="/include/header.html"></stl:include>
<!--banner begin-->


<div class="main">
  <div class="col clearfix  myTabDiv  current">
        <div class="colL" style="width:900px !important;">
        <stl:searchoutput>
          <div class="affiche clearfix">
            <stl:pageContents pageNum="10" scope="All" order="AddDate">
              <div class="item">
                <div class="date">
                <div class="day">
                    <strong><stl:content type="AddDate" formatString="dd"></stl:content> </strong>
                  </div>
                  <h4>
                    <stl:content type="AddDate" formatString="yyyy-MM"></stl:content>
                  </h4>
                  </div>
                <div class="txt" style="width:750px !important;">
                    <h3>
                      <stl:a target="_blank"><stl:content type="Title" wordNum="50"></stl:content></stl:a>
                    </h3>
                  <p>
                       <stl:content type="Summary" wordNum="75" ellipsis="..."></stl:content>
                  </p>
                </div>
              </div>
            </stl:pageContents>
              
            
            <div class="space10"></div>
            <div class="next clearfix">
                            <stl:pageItem type="PreviousPage">
                            <stl:successTemplate>
                                <a href="{Current.Url}">上一页</a>
                            </stl:successTemplate>
                            <stl:failureTemplate>
                              <a href="javascript:void(0);">上一页</a>
                            </stl:failureTemplate>
                            </stl:pageItem>
                            
                            <stl:pageItem type="PageNavigation" listNum="5">
                            <stl:successTemplate>
                              <a href="{Current.Url}">{Current.Num}</a>
                            </stl:successTemplate>
                            <stl:failureTemplate>
                              <a href="javascript:void(0);"><span class="current">{Current.Num}</span></a>
                            </stl:failureTemplate>
                            </stl:pageItem>
                                
                            <stl:pageItem type="NextPage">
                            <stl:successTemplate>
                <a href="{Current.Url}">下一页 </a>
                            </stl:successTemplate>
                            <stl:failureTemplate>
                              <a href="javascipt:void(0);">下一页 </a>
                            </stl:failureTemplate>
                            </stl:pageItem>
            </div>
          </div>
        </stl:searchoutput>
        </div>
        
      </div>
</div>
<stl:include file="/include/footer.html"></stl:include>
</body>
</html>

