<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{Channel.Title}-{Stl.SiteName}</title>
<link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/css/base.css" />
<link rel="stylesheet" type="text/css" href="{Stl.SiteUrl}/css/style.css" />
<link rel="shortcut icon" href="{Stl.SiteUrl}/images/ico.ico" type="image/x-icon" /> 
<link href="{Stl.SiteUrl}/css/lanrenzhijia.css" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-1.8.2.js"></script>
<script src="{Stl.SiteUrl}/js/jquery-latest.min.js" type="text/javascript"></script>
<script src="{Stl.SiteUrl}/js/lanrenzhijia.js" type="text/javascript"></script> 
<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery-juren-slidepattern.js"></script>
<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery.touchSlider.js"></script>
<script type="text/javascript" src="{Stl.SiteUrl}/js/base.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $(this).dwseeTopBottomMenu();
   $("#dstbm-top").css("background-image","url(/PE15001/images/up_arrow.png)");
   $("#dstbm-menu").css("background-image","url(/PE15001/images/menu_icon.png)");
   $("#dstbm-bottom").css("background-image","url(/PE15001/images/down_arrow.png)");  
})
</script>
</head>

<body onmousewheel="top.document.documentElement.scrollTop-=event.wheelDelta">
<stl:include file="/include/header.html"></stl:include>
<!--banner-->
<div class="banner" id="centerbanner">
    <div class="col clearfix pt55">
    <stl:contents totalNum="1" isRecommend="true" topLevel="1" isImage="true" order="AddDate">
        <div class="bnL">
            <h2>
                <div><span style="font-family:'Microsoft YaHei';font-size:x-large;FONT-WEIGHT: bold">
                <stl:content type="Title" wordNum="16" ellipsis="..."></stl:content></span></div>
            </h2>
            <p></p>
            <p style="padding-bottom: 8px; padding-left: 0px; padding-right: 0px; padding-top: 8px">
                    <span style="color: rgb(169,169,169)"><stl:content type="Summary" wordNum="105" ellipsis="..."></stl:content></span>
            </p>
        </div>
        <div class="bnR" style="max-width: 220px; max-height: 150px">
            <div class="pic">
                <img src="{Content.ImageUrl}" style="max-width: 220px; max-height: 150px">
            </div>
            <h3>
                        
            </h3>
        </div>
    </stl:contents>
    </div>
</div>


<div class="content" style="margin-top: 5px;">
    <!--公司文化-->
    <div class="col product clearfix">
       <div class="pro_sort clearfix">
         <ul>
         
           
          <stl:channels topLevel="1">
          <stl:if testType="oddItem">
          <stl:successTemplate>
           <li><div class="item">
           <h2>
           <stl:a  onclick="showtitle('4028ea194b503acd014b5135812f0008','4028ea194b3744f5014b45d95f6a0027','4028ea194b3744f5014b45da46570029');">
           {Channel.Title}
           </stl:a></h2>
           <p>{Channel.Content}</p>
           </div></li>
          </stl:successTemplate>
          <stl:failureTemplate>
          <li class="none"><div class="item">
           <h2><stl:a onclick="showtitle('4028ea194b503acd014b513f0f660013','4028ea194b3744f5014b45d95f6a0027','4028ea194b3744f5014b45db3903002d');">
           {Channel.Title}
           </stl:a></h2>
           <p>{Channel.Content}</p>
         </div></li>
          </stl:failureTemplate>
          </stl:if>
           </stl:channels>
         </ul>
       </div>
    </div>
    <form action="/portal/WebMain.action" id="pfrom" target="_top" method="post">
      <input type="hidden" name="navid" id="nnavid">
      <input type="hidden" name="menutree.pid" id="mmenutreepid">
      <input type="hidden" name="news.pid" id="newsid">
    </form>       
    <!--公司文化 end-->  
   <div class="space36"></div>
</div>
<stl:include file="@/include/footer.html"></stl:include>
</body>
</html>

